* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
}

body {
    background-color: #000;
}

header {
    height: 3rem;
    background-color: #d0ff00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: fixed;
    width: 100%;
    top: 0;
}

#logo {
    font-size: 1.75rem;
    font-weight: bold;
    color: rgb(207, 107, 107);
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 0.5rem;
}

nav ul li a {
    color: rgb(207, 107, 107);
}

#title-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000;
    height: 100vh;
}

#title-zone span,
#title-zone i {
    color: rgb(207, 107, 107);
}

#title-zone i {
    margin-top: 2rem;
    font-size: 3rem;
}

#main-title,
#main-subtitle {
    text-align: center;
    color: rgb(207, 107, 107);
}

#main-title {
    /* margin-top: 4rem; */
    font-size: 1.75rem;
}

#main-subtitle {
    margin-bottom: 1rem;
    font-size: 1.05rem;
}

#post-feed {
    padding-top: 3rem;
}

.drink-pic {
    width: 100%;
    height: 100%;
}

.post {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    margin-bottom: 1rem;
}

.post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #d0ff00;
    width: 100%;
    border-top: 2px solid rgb(207, 107, 107);
    border-bottom: 2px solid rgb(207, 107, 107);
}

.post-title {
    font-size: 2rem;
    font-family: "Nanum Pen Script", cursive;
}

.post-subtitle {
    font-family: "Nanum Pen Script", cursive;
    font-size: 1.25rem;
    padding: 0 1rem;
}

.post-description {
    padding: 1rem 2rem;
    text-align: justify;
    font-family: "Nanum Pen Script", cursive;
    font-size: 1.5rem;
}

.ingredients {
    margin-bottom: 1rem;
}

.drink-pic {
    width: 90%;
    height: 90%;
    border: 1px solid rgb(0, 0, 0);
}

.post-footer {
    height: 2rem;
    display: flex;
    align-items: center;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 100vh;
}

#contact a {
    color: rgb(207, 107, 107);
}

#why {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    height: 100vh;
}

#why p {
    padding: 2rem;
    text-align: justify;
}
